.add-to-cart {
  display: grid;
  grid-template-columns: 30% 70%;
}
.count-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(223, 64%, 98%);
  width: 10rem;
  height: 3.5rem;
  border-radius: 10px;
}
.count-buttons .count {
  font-size: 1rem;
  font-weight: 700;
}
.btn {
  color: var(--orange);
  background: none;
  border: none;
  font-weight: 700;
}
.btn:hover {
  color: hsl(26, 100%, 55%, 0.7);
}
.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  width: 20rem;
  height: 3.5rem;
  border: none;
  border-radius: 10px;
}
.add-btn:hover {
  cursor: pointer;
  background-color: hsl(26, 100%, 55%, 0.7);
  box-shadow: 5px 30px 20px -3px hsl(25, 100%, 94%);
}
@media only screen and (max-width: 600px) {
  .count-buttons {
    width: 95%;
  }
  .add-btn {
    width: 100%;
    margin-left: -10px;
    margin-top: 20px;
  }
}
