.description {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0 1rem 0;
  padding-right: 3rem;
}
.sneaker-company {
  color: var(--orange);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 3px;
}
.description-title {
  color: hsl(220, 13%, 13%);
  font-size: 2.8rem;
  font-weight: 700;
  padding-right: 3rem;
}
.sneakers-description {
  color: var(--dark-greyish-blue);
  font-size: 1rem;
  margin-top: 1rem;
  padding-right: 8rem;
  line-height: 1.7;
}
.sale-section {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}
.sale-price {
  color: var(--very-dark-blue);
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}
.transbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 2rem;
  background: var(--pale-orange);
  border-radius: 7px;
  text-align: center;
}
.sale {
  color: var(--orange);
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}
.regular-price {
  color: var(--greyish-blue);
  font-weight: 700;
  text-decoration: line-through;
}
@media only screen and (max-width: 450px) {
  .description {
    margin: 1.5rem;
    padding: 0;
  }
  .sneaker-company {
    font-size: 0.8rem;
  }
  .description-title {
    font-size: 1.5rem;
  }
  .sneakers-description {
    font-size: 0.9rem;
    padding: 0;
  }
  .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .regular-price {
    margin: 0;
  }
}
