.description {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin: 4rem 0 2rem 0;
}
.sneaker-company {
  color: var(--orange);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 3px;
}
.description-title {
  color: hsl(220, 13%, 13%);
  font-size: 3rem;
  font-weight: 700;
}
.sneakers-description {
  color: hsl(219, 9%, 45%);
  font-size: 1rem;
  margin-top: 2rem;
  padding-right: 4rem;
  line-height: 1.7;
}
.sale-section {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}
.sale-price {
  color: hsl(220, 13%, 13%);
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}
.transbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 2rem;
  background: hsl(25, 100%, 94%);
  border-radius: 7px;
  text-align: center;
}
.sale {
  color: var(--orange);
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}
.regular-price {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  text-decoration: line-through;
}
@media only screen and (max-width: 450px) {
}
