/* Page Gallery */
.page-gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.large-image {
  width: 73%;
  border-radius: 7px;
}
.galleryWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.galleryWrap .thumb {
  cursor: pointer;
  width: 5rem;
  border-radius: 7px;
}
.galleryWrap img:hover {
  background-color: var(--white);
  opacity: 0.5;
}

/* Lightbox Gallery */
.lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(220, 13%, 13%, 75%);
  width: 100%;
  height: 100%;
  z-index: 99;
}
.middle {
  display: flex;
  align-items: center;
}
.lightbox .large-image-lightbox img {
  border-radius: 13px;
  width: 30rem;
  height: 30rem;
}
.btnPrev,
.btnNext,
.btnClose {
  background: none;
  border: none;
}
.btnClose {
  margin: 0 0 1rem 29rem;
  color: var(--white);
}
.btnPrev,
.btnNext {
  background-color: var(--white);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  z-index: 2;
}
.btnPrev {
  position: absolute;
  top: 13rem;
  left: -1.5rem;
  padding-left: 0.5rem;
}
.btnNext {
  position: absolute;
  top: 13rem;
  left: 28.5rem;
}
.btnNext:hover,
.btnPrev:hover,
.btnClose:hover {
  color: var(--orange);
}
.small-images-lightbox {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}
.small-images-lightbox img {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
}
.small-images-lightbox img:hover {
  cursor: pointer;
  opacity: 0.3;
}
.small-images-lightbox div {
  background: var(--white);
  border-radius: 10px;
}

@media only screen and (max-width: 450px) {
  .page-gallery {
    display: none;
  }
}
