.mobile-slider {
  display: none;
}
.btn-prev,
.btn-next {
  position: absolute;
  cursor: pointer;
  color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.btn-prev:hover,
.btn-next:hover {
  color: var(--orange);
}
.btn-prev {
  top: 10rem;
  left: 1rem;
}
.btn-next {
  top: 10rem;
  left: 24rem;
}

@media only screen and (max-width: 450px) {
  .mobile-slider {
    display: block;
  }
  .mobile-image img {
    width: 100% !important;
    height: 21rem;
    margin: 0 !important;
  }
}
