.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.toggle {
    display: none;
}
.logo {
    width: 70%;
    margin-left: 100px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.menu-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.cart {
    padding-left: 450px;
}
.avatar {
    width: 25%;
    margin-right: 100px;
}
.avatar:hover {
    border: 2px solid orange;
    border-radius: 100%;
}