:root {
    --orange: hsl(26, 100%, 55%);
    --white: hsl(0, 0%, 100%);
}

/* Main navigation */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding-left: 100px;
    padding-right: 100px;
}
.toggle {
    display: none;
    cursor: pointer;
    padding-top: 3px;
}
.logo {
    width: 190px;
}
.menu-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 120px;
    padding-right: 450px;
}
ul li {
    padding: 55px 20px 0px;
    height: 120px;
}
a {
    color: hsl(219, 9%, 45%);
    text-decoration: none;
}
a:hover {
    color: hsl(220, 13%, 13%);
}
.link:hover {
    padding-bottom: 47px;
    border-bottom: 5px solid var(--orange);
}
.right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-container {
    margin: 10px;
}
.cart {
    cursor: pointer;
    margin-right: 20px;
}
.count-cart {
    position: absolute;
    top: 45px;
    right: 170px;
    z-index: 1;
    background-color: var(--orange);
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    width: 23px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.avatar {
    width: 50px; 
}
.avatar:hover {
    cursor: pointer;
    border: 2px solid var(--orange);
    border-radius: 100%;
}
hr {
    margin: 2px 100px 1px 100px;
    border: 1px solid hsl(220, 14%, 75%, 0.6);
}

/* Offcanvas */
.side-nav {
    background-color: var(--white);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 65vw;
    z-index: 2;
    padding: 30px 30px;
}
.close-btn {
    cursor: pointer;
}
.side-nav p:first-of-type {
    margin-top: 50px;
}
.side-nav p {
    font-size: 16px;
    font-weight: 700;
}
.hidden {
    display: none;
}

/* Checkout modal */
.modul {
    background-color: var(--white);
    position: absolute;
    top: 100px;
    right: 90px;
    width: 400px;
    height: 290px;
    z-index: 1;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.modul h5 {
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    padding: 15px 10px;
}
.modul hr {
    position: relative;
    width: 106%;
    right: 113px;
}
.empty-info {
    text-align: center;
    padding-top: 80px;
    font-weight: 700;
    color: hsl(219, 9%, 45%);
}
.cart-info {
    text-align: center;
    margin-top: 30px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.thumb {
    width: 20%;
    border-radius: 10px;
}
.content p {
    margin-bottom: 4px;
    color: hsl(219, 9%, 45%);
    font-size: 18px;
}
.content span {
    color: hsl(220, 13%, 13%);
    font-weight: 700;
}
.bin {
    background: none;
    border: none;
}
.checkout-btn {
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    border: none;
    border-radius: 5px;
    width: 92%;
    height: 50px;
    margin: 30px auto 10px;
}
.checkout-btn:hover {
    background-color: hsl(26, 100%, 55%, 0.7);
    box-shadow: 5px 30px 20px -3px hsl(25, 100%, 94%);
}

@media only screen and (max-width: 600px) {
    header {
        padding-left: 20px;
        padding-right: 0px;
    }
    .toggle {
        display: block;
    }
    .logo {
        padding-left: 20px;
    }
    .link {
        display: none;
    }
}