@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-greyish-blue: hsl(219, 9%, 45%);
  --greyish-blue: hsl(220, 14%, 75%);
  --light-greyish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-opacity: hsl(0, 0%, 0%, 75%);
}

/* App CSS */
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kumbh Sans";
  min-height: 100vh;
}
.app-content {
  border: 1px solid var(--greyish-blue);
  border-radius: 5px;
  box-shadow: 5px 5px 20px var(--greyish-blue);
  width: 1440px !important;
}

@media screen and (max-width: 450px) {
  .app {
    max-width: 100vw;
  }
  .app-content {
    border: none;
    box-shadow: none;
  }
}
